@media (max-width: 639px) {
  .statistics-search-help.dropdown > .dropdown-content {
    display: none;
  }

  .statistics-search-help-mobile-panel {
    -webkit-overflow-scrolling: touch;
    overscroll-behavior: contain;
  }
}
